body {
padding: 0;
margin: 0;
background-image: url(background/download.png);
}
.nav {
    display: flex;
    font-family:  HelveticaNowDisplay,Arial,sans-serif;;

}

.buttons>img {
    height: 15px;
    width: auto;
    border: 15px solid black;
    border-radius: 100%;
    background-color: black;
     margin-left: 25px;
     cursor: pointer;
}

.nav>a {
    color: rgb(0,13,16);
    text-decoration: none;
    font-size: 300px;
    font-weight: 600;
    line-height: 18.5rem;
    margin-left: 8px;
    
}
.nav>p>a {
    margin-left: 20px;
    line-height: 7rem;
    color: black;
    margin-right: 60px;
    padding: 8px;
font-weight: 600;
    font-size: 30px;
    border: 6px solid black ;
    text-decoration: none;
    border-radius: 100%;
    justify-content: center;
}
.buttons>a {
    margin-left: 25px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    line-height: 8rem;
}
.buttons>a:hover {
    text-decoration: underline;
}
.buttons>h1 {
    font-size: 60px;
    position: relative;
}
.finish{
    margin-right: 100px;
    margin-left: 50px;
}
.finish>h4 {
    align-self: left;
    margin-top: 220px;
    margin-left: 10px;
    font-family:  HelveticaNowDisplay,Arial,sans-serif;;
    font-size: 20px;
}
.finish>h4>a {
    font-family:  HelveticaNowDisplay,Arial,sans-serif;;
    text-decoration: none;
    color: white;
    float: right;
    font-size: 16px;
    border: 13px solid rgb(0,13,16);
    background-color: rgb(0,13,16);
    border-radius:20px 20px 20px 20px;
    padding: 2px;
    margin-left: 10px;
}
.nextpage {
    
    background-color: white;
    font-family:  HelveticaNowDisplay,Arial,sans-serif;;
}
.nextpage>h1 {
    font-size: 55px;
    margin-left: 550px;
    line-height: 3.5rem;
    
    
    
}
.nextpage>p {
    text-align: center;
    color: gray;
}