body {
padding: 0;
margin: 0;

}
.firstpage {
    background-image: url(background/download.png);
    height: 656px;
}
.nav {
    display: flex;
    font-family:  HelveticaNowDisplay,Arial,sans-serif;;

}

.buttons>img {
    height: 15px;
    width: auto;
    border: 15px solid black;
    border-radius: 100%;
    background-color: black;
     margin-left: 25px;
     cursor: pointer;
}

.nav>a {
    color: rgb(0,13,16);
    text-decoration: none;
    font-size: 300px;
    font-weight: 600;
    line-height: 18.5rem;
    margin-left: 8px;
    
}
.nav>p>a {
    margin-left: 20px;
    line-height: 7rem;
    color: black;
    margin-right: 60px;
    padding: 8px;
font-weight: 600;
    font-size: 30px;
    border: 6px solid black ;
    text-decoration: none;
    border-radius: 100%;
    justify-content: center;
}
.buttons>a {
    margin-left: 25px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    line-height: 8rem;
}
.buttons>a:hover {
    text-decoration: underline;
}
.buttons>h1 {
    font-size: 60px;
    position: relative;
}
.finish{
    margin-right: 100px;
    margin-left: 50px;
}
.finish>h4 {
    align-self: left;
    margin-top: 220px;
    margin-left: 10px;
    font-family:  HelveticaNowDisplay,Arial,sans-serif;;
    font-size: 20px;
}
.finish>h4>a {
    font-family:  HelveticaNowDisplay,Arial,sans-serif;;
    text-decoration: none;
    color: white;
    float: right;
    font-size: 16px;
    border: 13px solid rgb(0,13,16);
    background-color: rgb(0,13,16);
    border-radius:20px 20px 20px 20px;
    padding: 2px;
    margin-left: 10px;
}
.nextpage {
    
    background-color: white;
    font-family:  HelveticaNowDisplay,Arial,sans-serif;;
}
.nextpage>h1 {
    font-size: 55px;
    margin-left: 550px;
    line-height: 3.5rem;
    
    
    
}
.nextpage>p {
    text-align: center;
    color: gray;
}

.thirdpage {
    background-image: none;
    background-color: white;
}
.line1 {
    display: flex;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    
    margin-left: 42%;
}

.box1 {
    width: fit-content;
}

.box1 h3 {
    margin-top: 10px;
    font-weight: 600;
}

.box1 p {
    margin-top: 15px;
    font-weight: 400;
    opacity: 80%;
}

.box2 {
    width: fit-content;
    margin-left: 40px;
}

.box2 h3 {
    margin-top: 10px;
    font-weight: 600;
}

.box2 p {
    margin-top: 15px;
    font-weight: 400;
    opacity: 80%;
}

.line2 {
    display: flex;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    margin-top: 10%;
    margin-left: 42%;
}

.box3 {
    width: fit-content;
}

.box3 h3 {
    margin-top: 10px;
    font-weight: 600;
}

.box3 p {
    margin-top: 15px;
    font-weight: 400;
    opacity: 80%;
}

.box4 {
    width: fit-content;
    margin-left: 70px;
}

.box4 h3 {
    margin-top: 10px;
    font-weight: 600;
}

.box4 p {
    margin-top: 15px;
    font-weight: 400;
    opacity: 80%;
}
.fourthpage {
    display: flex;
}
.left {
    color: white;
    background-color:#151623; ;
    height: 750px;
    width: 480px;
}
.left>h1 {
    
    margin-left: 50px;
    font-size: 50px;
    
    font-weight: 600;
    
}
.left>p {
    margin-left: 50px;
    margin-top: 420px;
    font-size: 18px;
    font-weight: 600;
}
.left>a {
    color: white;
    
    margin-left: 50px;
    text-decoration: none;
    border: 1px solid white;
    padding: 12px;
    font-size:20px ;
    border-radius: 25px 25px 25px 25px;
}
.center {
    background-image: url(background/background2.png);
    background-size: cover;
    height: 750px;
    width: 480px;
}
.center>h2 {
    font-size: 25px;
    margin-top: 700px;
    margin-left: 80px;
    color: white;
}
.last {
    background-color: #bc7155;
    height:750px;
    width: 480px;
}
.last>h2  {
    margin-top:140px;
    color: white;
    font-size: 25px;
    margin-left: 80px;

}
.thirdpage{
  
}
.thirdpage>img {
width: 40%;
height: auto;
margin-left: 100px;
border-radius: 0% 0% 10% 0%;
}
.thirdpage>h2 {
margin-top: 70px;
margin-left: 100px;

}
.under {
    display: inline-flex;
   float: right;
}
.container1{
    margin-right:50px ;
}
.container2{
    margin-right: 100px;
}





.container2>h2 {
    border: 1px;
    color: rgb(227,225,226);
    border-style: solid;
    width: 250px;
    border
    
}
    
.container1>h2{
    border: 1px;
    color: rgb(227,225,226);
    border-style: solid;
    width: 250px;
}
.forthimg>img{
width: 650px;
height: 800px;
background-color: rgb(15,15,28);
}